*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}


/* Navbar css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 0, 117);
    padding: 10px 20px;
}

.navbar .logo {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(211, 211, 211);
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ddd;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

/* end navbar css */
section{
    background-image: linear-gradient(to right,blue,skyblue);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 25%;
    background-color: white;
    border-radius: 50vw;
    box-shadow: 1px 1px 12px yellowgreen;
}

section button{
    background-color: rgb(53, 198, 150);
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    box-shadow: 1px 1px 12px #000;
    transition: 0.1s ease-in-out;
}
#generate{
    margin-top: 100px;

}

section button:hover{
    transform: scale(1.1);
}

.main span{
    font-size: 30px;
}

.main span:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.fav{

    height: fit-content;
    width: 30vw;
    background-color: #ede4e4;
}


.fav .favDiv svg {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 5px;
} 
  
.likediv{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #333;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
        color: greenyellow;
    }

    .menu-toggle {
        display: flex;
    }

    .avatar{
        height: 12%;
        width: 15%;
    }
    section button{
        padding: 4px;
        border-radius: 3px;
        cursor: pointer;
        color: white;
        font-size: 12px;
        box-shadow: 1px 1px 12px #000;
        transition: 0.1s ease-in-out;
    }

}


@media (max-width: 480px){

    .avatar{
        height: 20%;
        width: 30%;
    }
    .avatar svg{
        height: 100%;
        width: 100%;
    }
    section button{
        padding: 4px;
        border-radius: 3px;
        cursor: pointer;
        color: white;
        font-size: 20px;
        width: 80vw;
        height: 5vh;
    }

}